<h1>Help</h1>
<p>
	Get help for the Ruby on rails Tutorial at the
	<a href="http://railstutorial.org/help">Ruby Tutorial help page</a>
	To get help on this sample app, see the <a href="http://railstutorial.org/book">
										Rails Tutorial book</a>.
</p>
